# Окружение
myenv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Настройки IDE (PyCharm)
.idea/

# Логи и временные файлы
*.log

# Other
database.py
requirements.txt
settings.py
.env
lessons/
PW/
config.py
community_pulse



